<div class="input-group mb-3">
  <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Search value.." aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
</div>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands | brandFilter:filterText">
        <th scope="row">{{brand.id}}</th>
        <td>{{brand.name}}</td>
      </tr>
    </tbody>
  </table>
