<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Car Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Color</th>
        <th scope="col">Daily Price</th>
      </tr>
    </thead>
    <tbody>
      <tr routerLink="/car/{{carDetail.carId}}" *ngFor="let carDetail of carsDetail">
        <th scope="row">{{carDetail.carId}}</th>
        <td>{{carDetail.carName}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.dailyPrice}}</td>
      </tr>
    </tbody>
  </table>