<div class="card">
    <div class="card-header">
      Edit Color
    </div>
    <div class="card-body">
        <form [formGroup]="colorEditForm"> 
            <div class="mb-3">
              <label for="name" class="form-label">Color Name</label>
              <input type="text" 
              formControlName="name"
              placeholder="Color name"
              class="form-control" 
              id="name" 
              aria-describedby="nameHelp">
              <div id="nameHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="editColor()">Submit</button>
          </form>
    </div>
  </div>